* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Karla, sans-serif;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-wrapper {
    height: calc(2 * 379px);
    width: calc(2 * 360px);
    background-color: #0B2434;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    width: calc(2 * 320px);
    height: calc(2 * 330px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    border-radius: calc(2 * 10px);
    row-gap: calc(2 * 10px);
    position: relative;
}

.title {
    font-size: calc(2 * 25.6px);
    margin: 0;
}

.instructions {
    font-size: calc(2 * 13.11px);
    padding: 0 calc(2 * 34px);
    text-align: left;
    margin-top: 0;
}

.dice-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: calc(2 * 17.92px);
    row-gap: calc(2 * 17.92px);
}

.die {
    width: calc(2 * 35.84px);
    height: calc(2 * 35.84px);
    background-color: #FFF;
    border-radius: calc(2 * 3.81px);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.die:hover {
    cursor: pointer;
}

.die:active {
    box-shadow: none;
    transform: translateY(2px);
    border-bottom: 0px solid;
}

#green {
    background-color: #59E391;
}

.value {
    font-family: Karla, sans-serif;
    font-size: calc(2 * 1.28rem);
}

.roll {
    width: calc(2 * 110.16px);
    height: calc(2 * 35.84px);
    background-color: rgba(80, 53, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Karla, sans-serif;
    color: #FFF;
    font-size: 2rem;
    box-shadow: 0px 6.4px 15.36px rgba(0, 0, 0, 0.18);
    border-radius: 3.81277px;
    border: 0px solid rgb(59, 40, 187);
    border-bottom: 8px solid rgb(59, 40, 187);
    margin: 20px 0;
    transition: box-shadow 0.1s ease-in-out, border-bottom 0.1s ease-in-out, transform 0.1s ease-in-out,
    opacity 0.1s ease-in-out;
}

.roll:hover {
    cursor: pointer;
}

.roll:active {
    box-shadow: none;
    transform: translateY(2px);
    border-bottom: 0px solid rgb(59, 40, 187);
}

.scores {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    height: 38px;
}